/* لون التاب النشط */
.o_notebook .nav-tabs .nav-link.active {
    background-color: #007bff !important; /* أزرق */
    color: #fff !important;
    border-radius: 6px;
}

/* باقي التابات */
.o_notebook .nav-tabs .nav-link {
    background-color: #f1f1f1;
    margin-right: 4px;
    border-radius: 6px;
    color: #333;
}

/* Hover effect */
.o_notebook .nav-tabs .nav-link:hover {
    background-color: #e2e6ea;
}
